<!-- usuarios/templates/usuarios/compra_exitosa.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Exitosa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-success">
            <h1>¡Compra Exitosa!</h1>
            <p>Tu pedido ha sido procesado correctamente.</p>
        </div>
        <a href="{% url 'usuarios_index' %}" class="btn btn-primary">Volver al Inicio</a>
    </div>
</body>
</html>
