{% extends "administracion/base.html" %}

{% load custom_filters %}  <!-- Cargar los filtros personalizados -->

{% block content %}
<h1>Lista de Ventas</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Menú</th>
            <th>Mesa</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for venta in ventas %}
        <tr>
            <td>{{ venta.id }}</td>
            <td>{{ venta.fecha }}</td>
            <td>{{ venta.item.nombre }}</td>
            <td>{{ venta.mesa.numero }}</td>
            <td>{{ venta.cantidad }}</td>

            <!-- Mostrar el precio total por sesión solo en la primera fila de cada sesión -->
            
            
            <td>{{ venta.precio|multiply:venta.cantidad }}€</td> <!-- Total por venta -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}